apiVersion: v1
kind: Service
metadata:
  name: pocket-id-tailscale
  namespace: pocket-id
  annotations:
    tailscale.com/expose: "true"
spec:
  selector:
    app: pocket-id
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
  type: LoadBalancer
  loadBalancerClass: tailscale