---
apiVersion: v1
kind: Service
metadata:
  name: istio-gateway
  namespace: istio-system
  labels:
    istio: ingressgateway
spec:
  type: LoadBalancer
  loadBalancerIP: 192.168.0.242
  selector:
    istio: ingressgateway
  ports:
    - name: status-port
      port: 15021
      protocol: TCP
      targetPort: 15021
    - name: http2
      port: 80
      protocol: TCP
      targetPort: 80
    - name: https
      port: 443
      protocol: TCP
      targetPort: 443
