---
apiVersion: v1
kind: Service
metadata:
  name: istio-gateway
  namespace: istio-system
  labels:
    app: istio-gateway
  annotations:
    oci.oraclecloud.com/load-balancer-type: "nlb"
    oci-network-load-balancer.oraclecloud.com/subnet: "ocid1.subnet.oc1.sa-saopaulo-1.aaaaaaaaquavsseio4zgq6fvw5drmrak4uqpnkip5kbrpoj5jhzdr4qpp6tq"
    # service.beta.kubernetes.io/oci-load-balancer-shape: flexible
    # service.beta.kubernetes.io/oci-load-balancer-shape-flex-min: 10
    # service.beta.kubernetes.io/oci-load-balancer-shape-flex-max: 10
    oci-network-load-balancer.oraclecloud.com/security-list-management-mode: "All"
spec:
  type: LoadBalancer
  selector:
    app: istio-gateway
  ports:
    - name: status-port
      port: 15021
      protocol: TCP
      targetPort: 15021
    - name: http2
      port: 80
      protocol: TCP
      targetPort: 80
    - name: https
      port: 443
      protocol: TCP
      targetPort: 443
